<h1 mat-dialog-title>Editar registro</h1>
<div mat-dialog-content>
  <p></p>
  <div class="col" *ngFor="let campo of data.cabecera" >

    <div class="row" >
      <mat-form-field appearance="outline">
          <mat-label> {{campo.nom_pantalla}}</mat-label>

          <input id={{campo.nom_rndc}} matInput [placeholder]="campo.alt" [readonly]="campo.editable==='1'? false : true" (change)="editValue($event)">
          <button *ngIf="campo.nom_rndc==='NUMIDDESTINATARIO' || campo.nom_rndc==='NUMIDREMITENTE' || campo.nom_rndc==='NUMIDPROPIETARIO'" class="ok" mat-button (click)="searchData(campo.nom_rndc)">
            <span class="material-icons"> 
                search
            </span>
        </button>
        </mat-form-field>
    </div>

  </div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" >Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSave()">Guardar</button>
  <button *ngIf="proceso==='3' || proceso==='38' || proceso==='83'" mat-raised-button color="warn" [mat-dialog-close]="false" >Anular</button>
</div>