.main-dropzone {
  padding:0 50px 0 50px;
  height: 50px;
  background: rgb(223, 223, 223);
  color: rgb(73, 99, 245);
  border: 3px dashed rgb(73, 99, 245);
  border-radius: 5px;
  font-size: 20px;
  
}
.ok.mat-raised-button {
  background-color: rgba(123, 255, 0, 0.712);
  
  min-width: auto;
}
.adv.mat-card {
  background-color: rgba(244, 247, 117, 0.712);
}



table div{
  height: 70px;
}

table {
  width: 100%;
  overflow-y: scroll
}

.mat-cell {
  text-align:center ;
  font-size: 12px;
  height: 40px;
  width: 70px;
}

.mat-header-cell{
  padding-left: 5px;
  background-color:steelblue;
  color: whitesmoke;
  text-align: center;
  min-width:50px;
  min-height: 25px;
  font-size: 12px;
 }
.mat-form-field {
  font-size: 12px;
  width: 100%;
}



/* Border */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
  width: 70px;
  /* background-color: white; */
}
/* Font color */
input.mat-input-element {
  color: rgb(0, 0, 0);
}