<div class="container text-center">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
            <span class="material-icons"> 
                house
            </span>
            </div>
            <mat-card-title>Cargue de pedidos de entrada</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 30px;">
            <div class="row text-center">
                <div class="row">
                    <mat-form-field appearance="legacy" >
                        <mat-label >Cliente</mat-label>
                        <input type="text" placeholder="Nombre del cliente" aria-label="Cliente" matInput
                        [formControl]="control"
                        [matAutocomplete]="auto">
                        <!--<mat-select (selectionChange)="setClient()" [formControl]="control" >-->
                        <mat-autocomplete (optionSelected)="this.selectedcli=control.value?.cliente_codigo"  #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option [value]="client" *ngFor="let client of filteredOptions | async">{{client.cliente_cod}}</mat-option>
                        </mat-autocomplete>
                        <!--</mat-select>-->
                    </mat-form-field>
                </div>
                <div class="row" *ngIf="control.valid">
                        <div class="col-6">
                            <ngx-dropzone (change)="onSelect($event)" class="main-dropzone" [multiple]="false"  accept="text/csv" [disabled]="file.length>0">
                                <div  *ngIf="file.length==0">
                                    <ngx-dropzone-label>Seleccione o arrastre su archivo CSV</ngx-dropzone-label>
                                </div>
                                <div *ngIf="file.length>0">
                                    <ngx-dropzone-label >{{file[0].name}}</ngx-dropzone-label>
                                </div>
                                
                            </ngx-dropzone>
                        </div>      
                        <div class="col">
                            <div *ngIf="control.valid && file.length>0">
                                <button (click)="onUpload()" mat-raised-button color="primary" [disabled]="precarga" style="height:50px ;">
                                    <span class="material-icons"> 
                                        upload
                                    </span>
                                    Cargar
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div *ngIf="control.valid && file.length>0" >
                                <button  (click)="onClear()" mat-raised-button color="warn" style="height:50px ;">
                                    <span class="material-icons"> 
                                        cached
                                    </span>
                                    Limpiar panel
                                </button>
                            </div>
                            
                        </div>                  
                </div>
                <br>
                <br>
                
            </div>    
           
        </mat-card-content>
    </mat-card>
</div>
<br>
<div class="container text-center" *ngIf="ELEMENT_DATA.length>0"> 
    <h2>{{label}}</h2>
    <mat-progress-bar *ngIf="progressbar" mode="query"></mat-progress-bar>  
    <mat-card>
        <mat-card-header>
            <mat-card-title>Verifique los datos</mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow-x: auto;">
            <form [formGroup]="VOForm" autocomplete="off">
                <ng-container formArrayName="VORows">
                <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort (matSortChange)="sortData($event)" >
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="{{column}}">{{column}}</th>
                        <td mat-cell  *matCellDef="let element; let i = index" [formGroup]="element">
                            <div *ngIf="column!='ACTION'">
                                <mat-form-field 
                                [appearance]="getApparence(i)? 'outline' : 'legacy'">
                                    <input matInput type="text" formControlName="{{column}}" [readonly]="VOForm.get('VORows')?.value[i].isEditable">
                                </mat-form-field>
                            </div>
                            <div *ngIf="column=='ACTION'">
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                matTooltip="Save Changes" (click)="SaveVO(VOForm,i)"
                                *ngIf="!VOForm.get('VORows')?.value[i].isEditable" color="primary">
                                <mat-icon>check_circle</mat-icon>
                                </button>
        
                                <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                                        matTooltip="Cancel Changes" color="warn"
                                                        (click)="CancelSVO(VOForm,i)"
                                                        *ngIf="!VOForm.get('VORows')?.value[i].isEditable">
                                                        <mat-icon>cancel</mat-icon>
                                </button>
        
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                                        *ngIf="VOForm.get('VORows')?.value[i].isEditable"
                                                        matTooltip="Edit" color="primary" (click)="EditSVO(VOForm,i)">
                                                        <mat-icon>edit</mat-icon>
                                </button>
        
                                <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                                                        *ngIf="VOForm.get('VORows')?.value[i].isEditable"
                                                        matTooltip="Delete" color="warn">
                                                        <mat-icon>delete</mat-icon>
                                </button>
        
                            </div>
                        
                        </td>
                        
                        
                    </ng-container>
                    
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                    
                    <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                    </tr>
                </table> 
                </ng-container>
            </form>
        
        </mat-card-content>
    </mat-card>
    
</div>
<br>
<div *ngIf="ELEMENT_DATA.length>0" class="row">
    <mat-card class="adv">
        
            <div class="col text-center">
                <strong>Al confirmar el cargue, los registros serán procesados</strong>  
            </div>
            <br>
            <div class="col text-center">
                <button (click)="onValidate()"  mat-raised-button class="ok" style="width: 170px; height:55px ;" >
                    <span class="material-icons"> 
                        check
                    </span>
                    Confirmar cargue
                </button>
            </div>
            <mat-card-footer  class="text-center">
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col">
                        Total pedidos en plano: {{ELEMENT_DATA.length}}
                    </div>
                    <div class="col">
                    </div>
                </div>
                
                
            </mat-card-footer>
    </mat-card>
</div>
