mat-select{
  align-items: center;
  vertical-align: middle;
  font-size: 12px;
}

table{
  width: 100%;
  margin: 1rem auto;

}


.container1{
  max-width: 1300px;
  overflow-x: scroll;
  
}
.table-container {
  min-height: 250px;
  max-height: 500px;
  overflow: auto;
}
.table-container::-webkit-scrollbar-thumb  {
  background-color: #98999b;
  border-radius: 40px;
  border: 2px solid #f1f2f3;
  width: 100px;
}

.container1::-webkit-scrollbar{
  
  --webkit-appearance:none;
  Scrollbar-width: auto;
  height: 20px;

}

.container1::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display:none;
} 

.containe1::-webkit-scrollbar:horizontal {
  width: 1300px;
  height: 100px;
}

.container1::-webkit-scrollbar-thumb  {
  background-color: #98999b;
  border-radius: 40px;
  border: 2px solid #f1f2f3;
  width: 100px;
}

.container1::-webkit-scrollbar-track {
  border-radius: 100px;  
}

  
.mat-row {
  height: auto;
}

.mat-cell {
  text-align:center ;
  font-size: 12px;

}
input{
  font-size: 12px;
}

.mat-header-cell{
  padding-left: 5px;
  background-color:steelblue;
  color: whitesmoke;
  text-align: center;
  min-width:90px;
  min-height: 45px;
  font-size: 12px;
}

button{
  font-size: 12px;
}
.loading-shade {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep  .mat-form-field-outline {
  height: 40px;
  padding-left: 1px;
}