
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Usuarios Registrados</span>
    <span class="text-muted mt-1 fw-bold fs-7">{{Usuarios.length}} usuarios</span>
  </h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <!-- begin::Menu 2 -->
    <app-dropdown-menu2></app-dropdown-menu2>
    <!-- end::Menu 2 -->
    <!-- end::Menu -->
  </div>
</div>

<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table  id="dt-bordered"
      class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3 w-100%"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            <div
              class="
                form-check form-check-sm form-check-custom form-check-solid
              "
            >
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                data-kt-check="true"
                data-kt-check-target=".widget-13-check"
              />
            </div>
          </th>
          <th class="min-w-60px max-w-60px">Id</th>
          <th class="min-w-60px max-w-60px">Nombres</th>
          <th class="min-w-60px max-w-60px">Apellidos</th>
          <th class="min-w-40px max-w-40px">Identificacion</th>
          <th class="min-w-40px max-w-40px text-center">Email</th>
          <th class="min-w-20px max-w-20px">Estado</th>
          <th class="min-w-200px max-w-200px text-center">Acciones</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>

        
        <tr *ngFor="let usuario of Usuarios" >
            <td>
              <div
                class="
                  form-check form-check-sm form-check-custom form-check-solid
                "
              >
                <input
                  class="form-check-input widget-13-check"
                  type="checkbox"
                  value="1"
                />
              </div>
            </td>
            <td class="text-dark fw-bolder text-hover-primary fs-6">{{usuario.id}}</td>
            <td>
              <a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{usuario.firstname}}
              </a>
            </td>
            <td>
              <a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{usuario.lastname}}
              </a>
            </td>
            <td class="text-dark fw-bolder text-center text-hover-primary fs-6">{{usuario.identification_number}}</td>
            <td class="text-dark fw-bolder text-center text-hover-primary fs-6">{{usuario.email}}</td>
            <td>
              <span class="badge badge-light-success">Approved</span>
            </td>
            <td class="text-center">
              <a
                href="#"
                class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  me-1
                "
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                href="#"
                class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  me-1
                "
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
            </td>
        </tr>
              
        
      </tbody>
      <!-- end::Table body -->
      
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<script type="text/javascript">
  $(document).ready(function () {
 $('#dt-bordered').dataTable({

   columnDefs: [{
     orderable: false,
     className: 'select-checkbox',
     targets: 0
   }],
   select: {
     style: 'multi',
     selector: 'td:first-child'
   }
 });
});
</script>