<html>
    <p class="text-center">
       <img src="../../../../assets/media/logos/sanches.jpg">
   </p>
    <br>
    <p class="text-center">
        <font face="Arial"><b>AUTORIZACI&#211;N DE TRATAMIENTO DE DATOS PERSONALES</b></font>
    </p>
    <br>
    <p>
        <font face="Arial">Declaro que he sido informado:</font>
    </p>
    <p>
        <font face="Arial"><br></font>
    </p>
    <p></p>
    <ul>
        <li>
            <font face="Arial">Que <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b>, como responsable del
                tratamiento de los datos personales obtenidos a trav&#233;s de sus distintos canales de servicio al cliente,
                ha puesto a mi disposici&#243;n la Pol&#237;tica de Datos Personales que me es aplicable. Dicha
                informaci&#243;n la puedo consultar en la p&#225;gina web&#160;<a href="https://www.ldsp.com.co"
                    target="_blank">www.ldsp.com.co</a>&#160;para la atenci&#243;n de requerimientos relacionados con el
                tratamiento de mis datos personales y el ejercicio de los derechos mencionados en esta autorizaci&#243;n.
            </font>
        </li>
        <li>
            <font face="Arial">Que es de car&#225;cter facultativo responder preguntas o suministrar informaci&#243;n que
                versen sobre datos sensibles, entendidos &#233;stos como aquellos que afectan la intimidad del titular o
                cuyo uso indebido puede generar discriminaci&#243;n, por ejemplo, la orientaci&#243;n pol&#237;tica, las
                convicciones religiosas o filos&#243;ficas, de derechos humanos, as&#237; como los datos relativos a la
                salud, a la vida sexual y los datos biom&#233;tricos y los datos relacionados con los menores de edad.
            </font>
        </li>
        <li>
            <font face="Arial">Que el alcance de la autorizaci&#243;n comprende la facultad para que <b>LOG&#205;STICA DE
                    DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b> me env&#237;e notificaciones, y dem&#225;s informaci&#243;n
                que considere necesaria.</font>
        </li>
        <li>
            <font face="Arial">Que mis derechos como titular del dato son los previstos en la Constituci&#243;n y la Ley,
                especialmente el derecho a conocer, actualizar, rectificar y suprimir mi informaci&#243;n personal; as&#237;
                como el derecho a revocar el consentimiento otorgado para el tratamiento de datos personales. Estos los
                puedo ejercer a trav&#233;s de los canales gratuitos dispuestos por <b>LOG&#205;STICA DE DISTRIBUCI&#211;N
                    S&#193;NCHEZ POLO S.A</b> y observando la pol&#237;tica de tratamiento de datos personales de
                <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b> disponible en&#160;<a
                    href="https://www.ldsp.com.co" target="_blank">www.ldsp.com.co</a>.</font>
        </li>
        <li>
            <font face="Arial">Los derechos mencionados en el p&#225;rrafo anterior pueden ser ejercidos a trav&#233;s de
                los canales dispuestos por la Empresa, esto es, por correo electr&#243;nico <a
                    href="mailto:infohabeasdata@sanchezpolo.com">infohabeasdata@sanchezpolo.com</a>, por medio escrito a la
                direcci&#243;n en Barranquilla, calle 39 N&#186;51-110 (v&#237;a 40), dirigido al OFICIAL DE CUMPLIMIENTO, o
                al tel&#233;fono 3852121, en observancia de la Pol&#237;tica de Tratamiento de Datos Personales de la
                Empresa.</font>
        </li>
        <li>
            <font face="Arial"><b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A.</b>, garantiza la
                confidencialidad, libertad, seguridad, veracidad, transparencia, acceso y circulaci&#243;n restringida de
                mis datos y se reserva el derecho de modificar su Pol&#237;tica de Tratamiento de Datos Personales en
                cualquier momento. En el evento en que los cambios a la mencionada pol&#237;tica se refieran a
                modificaciones sustanciales en relaci&#243;n con la finalidad del tratamiento de los datos, &#233;stos
                ser&#225;n informados y publicados oportunamente a trav&#233;s de la p&#225;gina de internet de la Empresa.
            </font>
        </li>
    </ul>
    <p></p>
    <p>
        <font face="Arial">Por lo anterior, en mi calidad de Titular de informaci&#243;n/Representante Legal del titular de
            la informaci&#243;n, actuando libre y voluntariamente, autorizo de manera expresa a <b>LOG&#205;STICA DE
                DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A.</b>, o a quien represente sus derechos<span>&#9;</span>a:
            consultar, verificar, recolectar, solicitar, suministrar, reportar, difundir, almacenar, transmitir y/o
            transferir, modificar o actualizar de forma parcial o total los datos personales del cual soy titular y que la
            empresa haya recolectado o recolecte en el futuro, como consecuencia de mi relaci&#243;n pasada, presente o
            futura con la Empresa, que se refiera entre otros a aspectos crediticios, financieros, comerciales, laborales,
            antecedentes penales, administrativos, disciplinarios y de otra &#237;ndole, en las diferentes bases de datos
            nacionales y/o extranjeras, en los t&#233;rminos que establece la Pol&#237;tica de Tratamiento de Datos
            Personales de <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b>, la cual conozco y acepto; y
            seg&#250;n lo dispuesto en la Ley 1581 de 2012, el Decreto 1377 de 2013, y en la dem&#225;s normatividad
            aplicable, para los fines relacionados con su objeto social, para los&#160;que requiera en desarrollo de sus
            actividades, y para los fines descritos en la citada Pol&#237;tica de Tratamiento de Datos Personales y, en
            especial, para las siguientes finalidades:</font>
    </p>
    <br>
    <ol>
        <li>
            <font face="Arial">Ejecutar y gestionar la relaci&#243;n contractual existente con sus trabajadores, y
                contratistas, cumpliendo con los procedimientos o actividades internas, derivados de la funci&#243;n como
                empleador o contratante por parte de <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b>
                (procesos de selecci&#243;n, escogencia, evaluaci&#243;n, vinculaci&#243;n y desvinculaci&#243;n laboral,
                contrataci&#243;n), para el del proceso de selecci&#243;n, en caso de no ser escogido, se eliminar&#225;n de
                las bases de datos de la sociedad, los datos personales de los candidatos.</font>
        </li>
        <li>&#160;Asimismo, de aquellos empleados, pensionados y contratistas (activos e inactivos), para efectos de poder
            suministrar tal informaci&#243;n a las entidades que as&#237; lo requieran.</li>
        <li>
            <font face="Arial">Gestionar la relaci&#243;n contractual con los proveedores de transporte para la
                activaci&#243;n, creaci&#243;n, actualizaci&#243;n, de hoja de vida en cumplimiento del Procedimiento de
                activaci&#243;n de Proveedores de Transporte.</font>
        </li>
        <li>
            <font face="Arial">Gestionar en caso de siniestro los datos recolectados por el personal de Protecci&#243;n y
                Seguridad F&#237;sica, como videograbaciones, versiones de los conductores, propietarios y terceros, que se
                realizan dentro o fuera de las instalaciones de &#233;stos se utilizar&#225;n para fines estad&#237;sticos y
                de seguridad de las personas, los bienes e instalaciones de podr&#225;n ser utilizados como prueba en
                cualquier tipo de proceso.</font>
        </li>
        <li>
            <font face="Arial">Generar y conservar soportes requeridos por los procesos de auditor&#237;a interna y externa;
            </font>
        </li>
        <li>
            <font face="Arial">Suministrar, compartir, enviar o entregar los Datos Personales de los Titulares a empresas,
                instituciones, gremios, aliados a <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A.</b>,
                ubicados en Colombia o cualquier otro pa&#237;s en el evento que dichas entidades requieran la
                informaci&#243;n para los fines aqu&#237; indicados, para lo cual se dar&#225; cumplimiento a los preceptos
                legales en materia de transferencia de Datos Personales.</font>
        </li>
        <li>
            <font face="Arial">Gestionar toda la informaci&#243;n necesaria para el cumplimiento de las obligaciones
                tributarias, parafiscales y de registros comerciales, corporativos y contables de <b>LOG&#205;STICA DE
                    DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A.</b></font>
        </li>
        <li>
            <font face="Arial">Para la ejecuci&#243;n de los procesos de archivo y actualizaci&#243;n de bases de datos
                internas de <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A.</b></font>
        </li>
        <li>
            <font face="Arial">Transmitir los datos que el gobierno nacional y/o las autoridades requieran en cumplimiento
                de las disposiciones legales;</font>
        </li>
        <li>
            <font face="Arial">Dem&#225;s usos administrativos, comerciales, laborales, de publicidad y las dem&#225;s
                finalidades que se relacionen con el cumplimiento de sus obligaciones o el ejercicio de sus derechos
                derivados dela relaci&#243;n que tiene, tuvo o podr&#225; tener con el Titular.</font>
        </li>
    </ol>
    <p></p>
    <p>
        <font face="Arial"><br></font>
    </p>
    <p>
        <font face="Arial">En caso que <b>LOG&#205;STICA DE DISTRIBUCI&#211;N S&#193;NCHEZ POLO S.A</b>, autorizada en este
            documento, realice una cesi&#243;n a cualquier t&#237;tulo de las obligaciones que tenga a su cargo, los efectos
            de la presente autorizaci&#243;n se extender&#225;n al tercero, en los mismos t&#233;rminos y condiciones,
        </font>
    </p>
   <br>
   <div class="row text-center">
        <div class="col">
            <mat-form-field  appearance="outline" >
                <mat-label><b>NOMBRE DEL TITULAR:</b></mat-label>
                <input matInput placeholder="NOMBRE DEL TITULAR" [formControl]="controlName" >
                <mat-error>
                    {{controlName.getError('Name')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field  appearance="outline" >
                <mat-label><b>CÉDULA:</b></mat-label>
                <input matInput placeholder="CÉDULA" [formControl]="controlCc">
                <mat-error>
                    {{controlCc.getError('ID')}}
                </mat-error>
            </mat-form-field>
        </div>        
   </div>
   <br>
   <div class="row text-center">
        
        <div class="col">
            
            <mat-checkbox
                [(ngModel)]="controlFirma">
                He leído y estoy de acuerdo
            </mat-checkbox>
           
        </div>
        
   </div>
   <br>
   <div class="col text-center">
        
        <button  (click)="Firmar()" mat-raised-button class="ok" style="width: 150px; height:55px ;left: 30px;" [hidden]="controlCc.invalid || controlName.invalid || controlFirma===false">
            <span class="material-icons"> 
                save
            </span>
            Firmar
        </button>
   </div>
</html>