<iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=krCMiXXBikacvEE5jkrTLEEdJKrti-pDvgYc7tk0NbBUNDc2Q1JHWTlEWlNBMEgyUjk2VU5aNUkzNi4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

<div class="text-center">
    <button
       (click)="goToBack()"
      
        class="btn btn-lg btn-primary w-100 mb-5"
      >
        <span class="indicator-label" 
          >Ir Al Inicio</span
        >
        </button>
  </div>