<div class="container text-center">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
            <span class="material-icons"> 
                update
            </span>
            </div>
            <mat-card-title>Actualización de destinatarios</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 30px;">
            <div class="row text-center">
                <div class="row">
                    
                    <mat-form-field appearance="legacy" >
                        <mat-label >Cliente</mat-label>
                        <input type="text" placeholder="Nombre del cliente" aria-label="Cliente" matInput
                        [formControl]="control"
                        [matAutocomplete]="auto">
                        <!--<mat-select (selectionChange)="setClient()" [formControl]="control" >-->
                        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option [value]="client" *ngFor="let client of filteredOptions | async">{{client.cliente_cod}}</mat-option>
                        </mat-autocomplete>
                        <!--</mat-select>-->
                    </mat-form-field>
                </div>
                <div class="row" *ngIf="control.valid">
                    <div class="col">
                        <mat-form-field  appearance="outline" >
                            <mat-label>Cod. Externo:</mat-label>
                            <input matInput placeholder="Código externo" [formControl]="controlDest">
                        </mat-form-field>
                    </div>              
                    <div class="col">
                        <div *ngIf="control.valid &&  destwms.length==0" class="row">
                            <button (click)="onSearch()" mat-raised-button color="primary" style="height:50px ;" [disabled]="progressbar">
                                <span class="material-icons"> 
                                    search
                                </span>
                                Consultar
                            </button>
                        </div>

                        <div *ngIf="control.valid &&  destwms.length>0" class="row">
                            <button  (click)="onClear()" mat-raised-button color="warn" style="height:50px ;">
                                <span class="material-icons"> 
                                    cached
                                </span>
                                Limpiar panel
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>    
        </mat-card-content>
    </mat-card>
</div>
<br>
<div class="container">
    <mat-expansion-panel *ngIf="destwms.length>0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Destinatario WMS
          </mat-panel-title>
          <mat-panel-description>
            Información del destinatario WMS
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <table *ngFor="let Des of destwms" text_align='Center'  width='100%'>
                
                <tr>
                    <td text_align='left' width="35%"><strong>Coddes</strong>: {{Des.factura}} </td>
                    <td text_align='left'><strong>Estado</strong>: {{Des.estado}} </td>
                    <td text_align='left'><strong>Custodia</strong>: {{Des.custodia}}</td>
                </tr>
                <tr>
                    <td text_align='left'><strong>Aliado</strong>: {{Des.nom_cli}}</td>
                    <td text_align='left'><strong>Ingresada en agencia</strong>: {{Des.nom_suc}} &nbsp;</td>
                    <td text_align='left'><strong>Destinatario</strong>: {{Des.destinatario_cli}}</td>
                </tr>
                <tr>
                    <td text_align='left'><strong>Doc. referencia</strong>: {{Des.cartaporte}}</td>
                    <td text_align='left'><strong>Fecha factura</strong>: {{Des.fecha_fac}}</td>
                    <td text_align='left'><strong>Fecha Recibo en Bodega</strong>: {{Des.fecha_rec}}</td>
                </tr>
            </table>
        </div>
        
    </mat-expansion-panel>
</div>

    
