<div class="container text-center">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> 
                image
            </span>
          </div>
          <mat-card-title>Subida de imagenes</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 30px;">
           <div class="row text-center">
                    <mat-form-field appearance="legacy" >
                        <mat-label >Seleccione Cliente</mat-label>
                        <mat-select (selectionChange)="setClient()" [formControl]="control" >
                            <mat-option [value]="client" *ngFor="let client of clients">{{client.cliente_cod}}</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            <div class="row text-center">
                <div *ngIf="control.valid && files.length>0"class="col">
                    <button (click)="uploadImages()" mat-raised-button color="primary" style="height:50px ;">
                        <span class="material-icons"> 
                            upload
                        </span>
                        Cargar imagenes
                    </button>
                </div>
                <div *ngIf="control.valid && files.length>0"class="col">
                    <button (click)="files.length=0" mat-raised-button color="warn" style="height:50px ;">
                        <span class="material-icons"> 
                            cached
                        </span>
                        Limpiar panel
                    </button>
                </div>
                <div *ngIf="control.valid" class="col" >  
                    <ngx-dropzone class="main-dropzone" (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif">
                        <ngx-dropzone-label>Seleccione o arrastre las imagenes</ngx-dropzone-label>
                    </ngx-dropzone>
                </div>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>
    <br>
    
    <div class="container" >
       <!--<app-imglist [images]="files" [client]="selectedcli" (addImage)="addImage($event)"  (removeImage)="removeImage($event)"></app-imglist>--> 

        <div class="row">
            <div class="col-md-4 p-4" *ngFor="let f of files">
                <div class="card card-photo" > 
                    <div class="mat-header">
                        <button class="close" mat-button (click)="onRemove(f)">X</button> 
                    </div> 
                    <div  class="card-body">
                        <img [src]="previewImage(f)" class="img-card-top w-100"/>
                        <mat-divider></mat-divider>
                        <div class="col">
                            <input matInput type="text" id="factura" placeholder="Factura">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
