:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.uppercase{
  text-transform: uppercase;
}

.button-img{
  position: fixed;
  bottom:20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 20px;
}