<div class="row">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img src="../../../../../assets/media/imagenes_rust/favicon.png" alt="">
          </div>
          <mat-card-title>RustDesk: Aplicación de acceso remoto</mat-card-title>
          <button class="close" mat-button (click)="close()">X</button>
  
        </mat-card-header>
        
        <mat-divider></mat-divider>
        
        <mat-card-content style="margin-top: 30px;">
            <h2>Para obtener la aplicación seleccione una opcion :</h2>
            <div class="row">
                <div class="col-1 padre">
                    <img class="hijo" style="height: 60px; width:60px;" src="../../../../../assets/media/imagenes_rust/b_windows.svg" alt="" >
                </div>
                <div class="col-4 padre" >
                    <h3 class="hijo"><strong>Rustdesk Windows 7/8/10/11 64Bits</strong></h3>
                </div>
                <div class="col-1 padre">
                    <a class="hijo" href="https://transportessanchezpolo-my.sharepoint.com/:u:/g/personal/wms_ldsp_sanchezpolo_com/EQVfbgc1PqNKnFblnBKiRGgBZSjGrkj9iOSOEyI4vQiqJA?e=pvGzCn">Descargar</a>
                </div>
                 
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-1 padre">
                    <img class="hijo" style="height: 60px; width:60px;" src="../../../../../assets/media/imagenes_rust/b_windows.svg" alt="" >
                </div>
                <div class="col-4 padre">
                    <h3 class="hijo"> <strong>Rustdesk Windows 7/8/10/11 32Bits</strong></h3>
                </div>
                <div class="col-1 padre">
                    <a class="hijo" href="https://transportessanchezpolo-my.sharepoint.com/:u:/g/personal/wms_ldsp_sanchezpolo_com/Efql09E78OpOv1ATjXtbRA4Bmy90536sV31Elohc1hN5jg?e=GPzGf6">Descargar</a> 
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-1 padre">
                    <img class="hijo" style="height: 60px; width:60px;" src="../../../../../assets/media/imagenes_rust/b_mac.svg" alt="" >
                </div>
                <div class="col-4 padre">
                    <h3 class="hijo"><strong>Rustdesk MAC</strong></h3>
                </div>
                <div class="col-1 padre">
                    <a class="hijo" href="https://transportessanchezpolo-my.sharepoint.com/:u:/g/personal/wms_ldsp_sanchezpolo_com/ESh0ZGskTbFGqrZFtZrDEGkBS9PNWLvc4lJXsdSdBUdcVQ?e=tf0Z24">Descargar</a> 
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-1 padre">
                    <img class="hijo" style="height: 60px; width:60px;" src="../../../../../assets/media/imagenes_rust/b_android.svg" alt="" >
                </div>
                <div class="col-4 padre">
                    <h3 class="hijo"><strong>Rustdesk Android</strong></h3>
                </div>
                <div class="col-1 padre">
                    <a class="hijo" href="https://transportessanchezpolo-my.sharepoint.com/:u:/g/personal/wms_ldsp_sanchezpolo_com/ESh0ZGskTbFGqrZFtZrDEGkBS9PNWLvc4lJXsdSdBUdcVQ?e=tf0Z24">Descargar</a> 
                </div>
            </div>
        </mat-card-content>
        
      </mat-card>
   
</div>
