<mat-card>
    <mat-card-content>
        <strong>Usuarios Registrados</strong>
    </mat-card-content>
   
    <div class="row">   
        <mat-form-field class="mat-mdc-form-field">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Email, nombre o Identificacion" #input>
        </mat-form-field>
    </div>
   <!-- <div class="row">
        <button (click)="CreateUser()" mat-raised-button color="primary">Nuevo usuario</button>
    </div>-->
</mat-card>
<br>
<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" >

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th  mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="identification">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Identificacion </th>
        <td class="text-center" mat-cell *matCellDef="let element"> {{element.identification_number}} </td>
    </ng-container>
   
    <ng-container matColumnDef="email">
      <th  mat-header-cell *matHeaderCellDef> Email </th>
      <td  mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="2fa">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Autenticacion 2F </th>
      <td class="text-center" mat-cell *matCellDef="let element">{{element.google2fa_enable}}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header="state"> Estado </th>
        <td class="text-center" mat-cell *matCellDef="let element">
            <span (click)="cierreSesion(element.active,element.email,element.id)" *ngIf="element.active==='Conectado'"  matTooltip="Cerrar sesión de usuario" class="badge badge-light-success">{{element.active}}</span>
            <span *ngIf="element.active==='Desconectado'" class="badge badge-light-warning">{{element.active}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th class="text-center" mat-header-cell *matHeaderCellDef > Acciones </th>
        <td  class="text-center" mat-cell *matCellDef="let element">
            <div class="text-center">
                <div class=" text-center ">
                
                  <button (click)="ChangePass(element.email)" mat-icon-button color="primary" matTooltip="Restaurar contraseña" >
                    <mat-icon>password</mat-icon>
                  </button>
                  <button (click)="disable2fa(element.email)" mat-icon-button color="accent" matTooltip="Restaurar Autenticacion 2F" >
                    <mat-icon aria-label="Restaurar 2fa">qr_code_scanner</mat-icon>
                  </button>
                  <button (click)="DeleteUser(element.email)" mat-icon-button color="warn" matTooltip="Eliminar usuario"  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            </div>
            
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin resultados para la busqueda: "{{input.value}}"</td>
      </tr>
</table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>