<div mat-dialog-actions  align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>X</button>
</div>
<br>
<div mat-dialog-content>
    <mat-card>
        <mat-card-content style="margin-top: 30px;">
        <div class="row align-items-center"> 
            <div class="col w-80">
                <mat-form-field  style="padding-left: 50px;" appearance="outline" >
                    <mat-label >Nombre del mensaje</mat-label>
                    <input style="text-transform:uppercase;" type="text" placeholder="Nombre" aria-label="nombre" matInput
                    [formControl]="controlTitle">
                </mat-form-field>     
            </div>
            <div class="col w-80">
                <mat-form-field  appearance="outline">
                    <mat-label>Seleccione rango de fecha</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                    <input [disabled]="indefinido" [formControl]="controlFecIni" readonly matStartDate placeholder="Fecha inicial" >
                    <input [disabled]="indefinido" [formControl]="controlFecFin" readonly matEndDate placeholder="Fecha final">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker [disabled]="indefinido" #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col w-80">
                <mat-checkbox  [(ngModel)]="indefinido" class="example-margin">Sin temporada</mat-checkbox>
            </div>
        </div>      
        <div class="row align-items-center">
            <div class="col w-80">
                <mat-form-field style="padding-left: 50px;"  required appearance="fill">
                    <mat-label>Alcance:</mat-label>
                    <mat-select [formControl]="controlRange">
                        <mat-option value="2">Interno</mat-option>
                        <mat-option value="3">Externo</mat-option>
                        <mat-option value="0">Todos</mat-option>
                    </mat-select>
                    </mat-form-field>
            </div>
            <div class="col w-80">
                <label >Tipo de mensaje:</label>
                <br>
                <mat-radio-group required color=primary [formControl]="controlType">
                    <mat-radio-button value="O">Obligatorio &nbsp;</mat-radio-button>
                    <mat-radio-button value="R">Requerido &nbsp;</mat-radio-button>
                    <mat-radio-button value="I">Informativo &nbsp;</mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div class="col w-80">
                <mat-checkbox  [(ngModel)]="copymail" class="example-margin">Copia por correo</mat-checkbox>
            </div>
        </div>   
        <div class="text-center">
            <h2>{{label}}</h2>
            <mat-progress-bar *ngIf="progressbar" mode="query"></mat-progress-bar>
        </div>
        <div class="container">
            <angular-editor [(ngModel)]="controlMessage" [config]="editorConfig"></angular-editor>
        </div>
        <br>
        <div class="col w-10 text-center">
            <button (click)="editMessage()" style="padding-right: 50px;"  mat-raised-button class="ok" style="width: 150px; height:55px ;left: 30px;" [disabled]="controlTitle.invalid || controlType.invalid">
                <span class="material-icons"> 
                    update
                </span>
                <strong>Actualizar</strong>
            </button>
        </div>
    </mat-card-content>
    </mat-card>
</div>