<div class="row">
    <div class="col-md-4 p-4" *ngFor="let image of images">
        <div class="card card-photo"> 
            <div  class="card-body">
                <figure (click)="carrousel(image.name,image.content)">
                    <img  [src]="previewImage(image.name,image.content)" class="img-card-top h-100 w-100" />
                    <figcaption>
                        <p>Nombre: {{image.name}}</p>
                        <p>Fecha imagen: {{image.fecha_imagen}}</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>


