<div class="row">
    <div class="col-md-4 p-4" *ngFor="let img of images">
        <div class="card card-photo" > 
            <div class="mat-header">
                <button class="close" mat-button (click)="onRemove(img)">X</button> 
            </div> 
            <div  class="card-body">
                <img [src]="previewImage(img)" class="img-card-top w-100"/>
                <mat-divider></mat-divider>
                <div class="col">
                    <input matInput type="text" id="factura" placeholder="Factura">
                </div>
            </div>
        </div>
    </div>
</div>
