mat-datepicker-toggle {
    float: right;
    height: 1px;
    max-height: 1px;
    padding-bottom: 40px;
}
mat-select{
    align-items: center;
    vertical-align: middle;
}
.mat-table{
    width: 100%;
  }
  
  .mat-row {
    height: auto;
  }
  
  .mat-cell {
    text-align:center ;
  }

  .mat-header-cell{
    text-align: center;
  }
